/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-title-color: #db00ff;
  --title-background-color: #ff0070;
  --title-color: #ff0070;
  --title-shadow-color: #ff0070;
  --text-color: #f1b2ce;
  --sub-title-color: #000028;
  --bg-img: url(../images/cover-image-dark.png);
  --page-bg-color: #000028;
  --record-display: inline-block;
  --btn-outline-color: rgba(255, 0, 112, 0.4);
}