/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: "IBM Plex Mono", monospace;
  --common-text-size: 18px;
  --common-line-height: 23.4px;
  --bold-font: 700;
  --article-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --article-title-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --page-bg-color: #000028;
  --main-title-color: #db00ff;
  --title-background-color: #ff0070;
  --title-color: #ff0070;
  --title-shadow-color: #ff0070;
  --text-color: #f1b2ce;
  --sub-title-color: #000028;
  --bg-img: url(../images/cover-image-dark.png);
  --record-display: inline-block;
  --btn-outline-color: rgba(255, 0, 112, 0.4);
}
